<!DOCTYPE html>
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
    %title #{@item[:title]} - Michael Mior
    %link{:rel => 'stylesheet', :href => '/styles.css'}
    %meta{:name => 'generator', :content => "nanoc #{Nanoc::VERSION}"}/
  %body{:class => @item[:kind] == 'article' ? 'single-post' : 'home page'}
    %div#wrapper.hfeed

      %div#header
        %div#blog-title
          %h1
            %a{:href => '/', :title => 'Michael Mior', :rel => 'home'}
              %span.word-1 Michael
              %span.word-2 Mior

        %div#access
          %div.skip-link
            %a{:href => '#content', :title => 'Skip navigation to the content'}
          %div.menu
            %ul.sf-menu
              %li
                = link_to 'Home', '/'
              %li
                = link_to 'About', '/about/'
              %li
                = link_to 'Contact', '/contact/'

    %div#main
      %div#container
        %div#content
          %div{:class => @item[:kind] == 'article' ? 'post hentry' : 'page hentry'}
            %h1.entry-title= @item[:headline] or @item[:title]
            %div.entry-content= yield

    %div#footer
      %div#siteinfo
        &copy; 2013 Michael Mior
