doctype html
html(lang='en', amp='')
  head
    script(async='', src='https://cdn.ampproject.org/v0.js')
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')

    meta(charset='utf-8')
    title= page.title

    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    link(rel='canonical', href=page.article.url)

    //- Twitter card tags
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='michaelmior')

    //- OG meta tags
    meta(name='og:title', content=page.title)
    meta(name='og:description', content=page.metadata.summary)
    meta(name='og:type', content='article')
    meta(name='og:site_name', content='Michael Mior')
    meta(name='fb:profile_id', content='227200130')
    meta(name='article:publisher', content='227200130')
    meta(name='article:author', content='227200130')
    meta(name='article:published_time', content=env.helpers.toISO8601(page.date))

    //- Schema.org markup
    | <script type="application/ld+json">
    |   {
    |     "@context": "http://schema.org",
    |     "@type": "BlogPosting",
    |     "headline": "#{page.metadata.title}",
    |     "name": "#{page.metadata.title}",
    |     "datePublished": "#{env.helpers.toISO8601(page.date)}",
    |     "author": {
    |       "@type": "Person",
    |       "name": "Michael Mior"
    |     },
    |     "publisher": {
    |       "@type": "Organization",
    |       "name": "Michael Mior",
    |       "logo": {
    |         "@type": "ImageObject",
    |         "url": "#{locals.url}/img/logo-full.png",
    |         "width": 600,
    |         "height": 48
    |       }
    |     },
    |     "mainEntityOfPage": {
    |       "@type":"WebPage",
    |       "@id":"#{page.article.url}"
    |     }
    |   }
    | </script>

    meta(name='theme-color', content='#4080c0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,700,400italic,700italic|Roboto+Mono:400,700,400italic,700italic')

    //- AMP boilerplate
    | <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    //- Custom styles
    style(amp-custom='')
      !='\n<!-- @@include ' + contents.styles['amp.scss'].url + '-->'

  body
    header
      a(href=locals.url)= 'Michael Mior'

    h1= page.title

    div#content
      div.content-wrap
        article.article
          section.content!= typogr(page.html).typogrify()
        center
          a(href=page.article.url)= 'View comments'

    // AMP analytics
    | <amp-analytics type="googleanalytics" id="analytics1">
    |   <script type="application/json">
    |     { "vars": {"account": "UA-45085128-2"},
    |       "triggers": {"trackPageview": {"on": "visible","request": "pageview"}}}
    |   </script>
    | </amp-analytics>
