
extends layout

block prepend head
  link(rel='amphtml', href=locals.url + '/amp' + page.url)

  meta(name='description', content=page.metadata.summary)

  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='michaelmior')

  - var imageObject = env.helpers.blogImageObject(page)

  meta(property='og:url', content="#{locals.url}#{page.url}")
  meta(property='og:title', content=page.title)
  meta(property='og:description', content=page.metadata.summary)
  meta(property='og:type', content='article')
  meta(property='og:site_name', content='Michael Mior')
  meta(property='og:image', content=imageObject.url)
  meta(property='og:image:width', content=imageObject.width)
  meta(property='og:image:height', content=imageObject.height)
  meta(property='fb:profile_id', content='227200130')
  meta(property='article:publisher', content='227200130')
  meta(property='article:author', content='227200130')
  meta(property='article:published_time', content=env.helpers.toISO8601(page.date))

  script(type='application/ld+json')
    :json
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "#{page.metadata.title}",
        "name": "#{page.metadata.title}",
        "datePublished": "#{env.helpers.toISO8601(page.date)}",
        "dateModified": "#{env.helpers.toISO8601(page.metadata.modified || page.date)}",
        "author": {
          "@type": "Person",
          "name": "Michael Mior"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Michael Mior",
          "logo": {
            "@type": "ImageObject",
            "url": "#{locals.url}/img/logo-full.png",
            "width": 600,
            "height": 48
          }
        },
        "mainEntityOfPage": {
          "@type":"WebPage",
          "@id":"#{page.url}"
        },
        "image": {
          "@type": "ImageObject",
          "url": "#{imageObject.url}",
          "height": "#{imageObject.height}",
          "width": "#{imageObject.width}"
        }
      }

block append vars
  - bodyclass = 'article-detail h-entry'

block title
  | #{page.title}

block header
  h1.p-name= page.title

block content
  article.article
    section.content.e-content!= typogr(page.html).typogrify()
    div.share
      a(title='Share on Twitter', href="https://twitter.com/intent/tweet?source=#{encodeURIComponent(locals.url + page.url)}&text=#{encodeURIComponent(page.title + ' ' + locals.url + page.url)}&via=michaelmior", target='_blank')
        i.fa.fa-twitter-square(aria-hidden='true')
      a(title='Submit to Hacker News', href="https://news.ycombinator.com/submitlink?u=#{encodeURIComponent(locals.url + page.url)}&t=#{encodeURIComponent(page.title)}", target='_blank')
        i.fa.fa-hacker-news(aria-hidden='true')
      a(title='Submit to Reddit', href="http://www.reddit.com/r/programming/submit?url=#{encodeURIComponent(locals.url + page.url)}&title=#{encodeURIComponent(page.title)}", target='_blank')
        i.fa.fa-reddit-square(aria-hidden='true')
      a(title='Share on Google+', href="https://plus.google.com/share?url=#{encodeURIComponent(locals.url + page.url)}", target='_blank')
        i.fa.fa-google-plus-square(aria-hidden='true')
      a(title='Share on LinkedIn', href="https://www.linkedin.com/shareArticle?mini=true&url=#{encodeURIComponent(locals.url + page.url)}&title=#{encodeURIComponent(page.title)}&summary=#{encodeURIComponent(page.metadata.summary)}&source=#{encodeURIComponent(locals.url + page.url)}", target='_blank')
        i.fa.fa-linkedin-square(aria-hidden='true')
      a(title='Share on Facebook', href="https://www.facebook.com/sharer.php?u=#{encodeURIComponent(locals.url + page.url)}", target='_blank')
        i.fa.fa-facebook-square(aria-hidden='true')

    div#disqus_thread
      script
        | var disqus_config = function () {
        | this.page.url = '#{locals.url}#{page.url}';
        | this.page.identifier = '#{/([^\/]+)\/?$/.exec(page.url)[1]}';
        | };

        :uglify-js
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = 'https://michaelmior.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());

          (d.head || d.body).appendChild(s);
          })();

      noscript
        | Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>

block prepend footer
  div.nav
    a(href=contents.index.url) « Blog archive

block append footer
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css', integrity='sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O', crossorigin='anonymous')
  link(rel='stylesheet', href=contents.styles['code.scss'].url)
