
extends layout

block prepend head
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='michaelmior')

  meta(name='og:title', content=page.title)
  meta(name='og:description', content=page.metadata.summary)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block header
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html).typogrify()
    | <div id="disqus_thread"></div>
    | <script>
    | var disqus_config = function () {
    | this.page.url = '#{locals.url}#{page.url}';
    | this.page.identifier = '#{/([^\/]+)\/?$/.exec(page.url)[1]}';
    | };
    | (function() { // DON'T EDIT BELOW THIS LINE
    | var d = document, s = d.createElement('script');
    | 
    | s.src = '//michaelmior.disqus.com/embed.js';
    | 
    | s.setAttribute('data-timestamp', +new Date());
    | (d.head || d.body).appendChild(s);
    | })();
    | </script>
    | <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

block prepend footer
  div.nav
    a(href=contents.index.url) « Blog archive
