
extends layout

block append vars
  - bodyclass = 'project'

block title
  | #{page.title}

block prepend head
  link(rel='canonical', href=locals.url + page.url.substring(0, page.url.lastIndexOf('.')) + '/')

block header
  h1= page.title

block content
  section.content!= page.html

block append footer
  link(rel='stylesheet', href=contents.styles['code.scss'].url)
